.col1 {width: 250px; float: left;}
.col2 {width: 270px; float: left;}
.col3 {width: 220px; float: left;}

.toolbar {height: 30px; background: #222; position: relative;}

#artist-search .artist {float: left; width: 200px; height: 200px; background-position:50% 50%; background-repeat:no-repeat; background-size: cover; position: relative; overflow: hidden; cursor: pointer;}
#artist-search .artist .info {background:rgba(255, 255, 255, 0.7); bottom:-100px; color:#333333; font-size:17px; font-weight:bold; padding:7px; position:absolute; text-align:center; text-shadow:0 0 1px #bbb; width:186px;}


.player {background: #222; height: 152px;}
.player .cp-container {left: 50px;}

.head {background: #232323; color: #EEE; padding: 4px 0; text-align:center; font-size: 12px; font-family: Roboto; font-weight: bold;}
.col2 .head {background: #131313;}
.artist-tracks .head {background: #333; color: #EEE;}


.downloads {background: #444;}
.downloads {background: #444; height: 113px; overflow: auto;}
.downloads div {background: url(img/download2.gif) no-repeat !important; color: #fff !important; background-size: 1% 100%; padding: 5px; font-family: Verdana; border-bottom: 1px solid #333; font-size: 11px; text-shadow: 0 0 1px #333; white-space: nowrap; width: 100%; overflow: hidden; text-overflow: ellipsis;}

.artist-info h3 {color: #FFD; text-shadow: 0 0 1px #333; font-size: 21px; border-bottom: 1px solid; margin-bottom: 4px; font-family: Georgia;}
.artist-info p {font-size: 12px; font-family: arial; color: #bba; line-height: 16px;}
.artist-info .tags span {margin-right: 10px; color: #CC9; padding: 2px 0px; cursor: pointer; font-size: 13px; font-family: monospace;}
.artist-info .tags span:hover {border-bottom: 1px dashed;}
.artist-info .links {color: #ddd; margin: 10px 0 0; position: absolute; bottom: 6px; font-size: 14px; font-family: Arial;}
.artist-info .links a {margin-right: 10px; cursor: pointer;}
.artist-info .links a:hover {border-bottom: 1px dashed;}


.artist-similar {background-color: #444; height: 480px; width: 250px; overflow: auto;}
.artist-similar .similar {background-repeat:no-repeat; background-size:cover; float:left;  height:80px;
 width:80px;  overflow: hidden; cursor: pointer;}
.artist-similar .similar div {background: rgba(255, 255, 255, 0.7); text-align: center; font-size: 11px; position: relative; top: -60px; padding: 4px 2px;}



.artist-releases {background-color: #333338; height: 270px; overflow-y: scroll; overflow-x: hidden;}
.artist-releases .release {width: 260px; padding: 4px; background: #333338; color: #bbb; text-shadow: 0 0 1px #555; 
		border-bottom: 1px solid #555; cursor: pointer; font-family: Verdana; font-size: 11px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.artist-releases .release:hover {color: #ccc;}
.artist-releases .release.selected {background: #AAA; color: #333; text-shadow: 0 0 1px #CCC;}


/* general for all rows */
.artist-releases .release,
.artist-tracks .track,
.tracks-sources .source,
.tracks-bitrate .bitrate {cursor: pointer; font-family: Roboto; font-size: 12px; padding: 5px; color: #ccc; text-shadow: 0 0 1px #555;}

.artist-releases .release.selected,
.artist-tracks .track.selected,
.tracks-sources .source.selected,
.tracks-bitrate .bitrate.selected {background: #aaa; color: #333; text-shadow: 0 0 1px #ccc;} 


/* tracks */
.artist-tracks {background-color: #333338; height: 346px; overflow: auto;}
.artist-tracks .track {background: #333338; border-bottom: 1px solid #444;}
.artist-tracks .track i {float: right; font-size: 10px; padding-top: 2px;}
 
/* sources */
.tracks-sources {height: 270px; background: #444; overflow: auto;}
.tracks-sources .source {overflow: hidden; background: #444; border-bottom: 1px solid #555;}
.tracks-sources .source .title {white-space: nowrap; float: left; width: 165px; overflow: hidden; text-overflow: ellipsis; font-size: 12px;}
.tracks-sources .source .time {width: 35px; float: right; text-align: right; font-size: 11px;}

/* bitrates */ 

.tracks-bitrate {height: 210px; background: #444; overflow: auto;}
.tracks-bitrate .bitrate {padding-top: 6px; overflow: hidden; background: #444; border-bottom: 1px solid #555; font-size: 11px;}


/*(
.artist-player .player {background: #222; width: 310px; height: 100px; float: left;}
*/